<div class="ProductMeta" {{ block.shopify_attributes }}>
  {%- if block.settings.show_vendor and product.vendor != blank -%}
    <h2 class="ProductMeta__Vendor Heading u-h6">
      {%- assign vendor_handle = product.vendor | handle -%}
      {%- assign collection_for_vendor = collections[vendor_handle] -%}

      {%- unless collection_for_vendor.empty? -%}
        <a href="{{ collection_for_vendor.url }}">{{ product.vendor }}</a>
      {%- else -%}
        {{- product.vendor -}}
      {%- endunless -%}
    </h2>
  {%- endif -%}
<div class="metaflex">
  <h1 class="ProductMeta__Title Heading u-h2">
    {%- if template.name == 'product' -%}
      {{- product.title -}}
    {%- else -%}
      <a href="{{ product.url }}">{{ product.title }}</a>
    {%- endif -%}
  </h1>
</div>
  {% comment %}{%- if block.settings.show_product_rating -%}
    <div class="ProductMeta__Rating Heading Text--subdued u-h7">
      {%- render 'product-rating', product: product -%}
    </div>
  {%- endif -%}{% endcomment %}
  <div class="ProductMeta__Rating Heading Text--subdued u-h7">
      {%- render 'product-rating', product: product -%}
    </div>

  {%- if block.settings.show_sku and product.selected_or_first_available_variant.sku != blank -%}
    <p class="ProductMeta__Sku Heading Text--subdued u-h6">{{ 'product.form.sku' | t }}: <span class="ProductMeta__SkuNumber">{{ product.selected_or_first_available_variant.sku }}</span></p>
  {%- endif -%}

  
{%- if product.template_suffix != 'coming-soon' -%}
    <div class="ProductMeta__PriceList Heading">
      {%- if settings.currency_code_enabled -%}
        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
          <span class="ProductMeta__Price Price Price--highlight Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
          <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4">MRP {{ product.selected_or_first_available_variant.compare_at_price | money_with_currency }}</span>
        {%- else -%}
          <span class="ProductMeta__Price Price Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_with_currency }}</span>
        {%- endif -%}
      {%- else -%}
        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
          <span class="ProductMeta__Price Price Price--highlight Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money }}</span>
          <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4">MRP {{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
        {%- else -%}
          <span class="ProductMeta__Price Price Text--subdued u-h4">MRP {{ product.selected_or_first_available_variant.price | money }}</span>
        {%- endif -%}
      {%- endif -%}
      {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
       <div class="disscouunt">
         {% capture discount %}
          {{ product.selected_or_first_available_variant.compare_at_price | minus:product.selected_or_first_available_variant.price | times:100 | divided_by:product.selected_or_first_available_variant.compare_at_price | round: 1 }}% off
          {% endcapture %}
          {{ discount }}
         </div>
        {% endif %}
    </div>
  

    <div class="ProductMeta__UnitPriceMeasurement" style="display: {%- if product.selected_or_first_available_variant.unit_price_measurement -%}block{% else %}none{% endif %}">
      <div class="UnitPriceMeasurement Heading u-h6 Text--subdued">
        <span class="UnitPriceMeasurement__Price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
        <span class="UnitPriceMeasurement__Separator">/ </span>
        <span class="UnitPriceMeasurement__ReferenceValue" style="display: {% if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 %}inline{% else %}none{% endif %}">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
        <span class="UnitPriceMeasurement__ReferenceUnit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
      </div>
    </div>
  {%- endif -%}

  {%- if block.settings.show_taxes_included -%}
    {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
      <p class="ProductMeta__TaxNotice Rte">
        {%- if shop.taxes_included -%}
          {{ 'product.general.include_taxes' | t }}
        {%- endif -%}

        {%- if shop.shipping_policy.body != blank -%}
          {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {%- endif -%}
      </p>
    {%- endif -%}
  {%- endif -%}
  {% comment %}
  {% if product.price %}
      <div class="wallet-points">
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/token_1.png?v=1672222457" style="width=100%">
        <p>Buy now & get {{ product.price | money_without_currency }} points that can be used towards your next purchase!</p></div>
{% endif %}
{% endcomment %}
  {{- form | payment_terms -}}
</div>